@mixin rounded-input {
  border-radius: $border-radius;
  padding: 12px 20px;
  border: none;
}

@mixin button-style($bg-color, $text-color) {
  background-color: $bg-color;
  border-radius: $border-radius;
  color: $text-color;
  font-weight: 600;
  border: none;
  cursor: pointer;
}

@mixin toast-position {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 9999;
}