$primary-color: #1d7eda;
$danger-color: #ef4444;
$success-color: #22c55e;
$light-gray: #f0f0f0;
$dark-gray: #333;
$border-gray: #e9ecef;

$border-radius: 50px;
$small-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
$modal-shadow: 0 0 0 2px #3b82f6;
